---
HeaderFilterRegex: '^(?!.*ThirdParty).*'  # Exclude thirdparty folder from checks
Checks: "-*,\
bugprone-*,\
-bugprone-easily-swappable-parameters,\
-bugprone-unchecked-optional-access,\
-bugprone-exception-escape,\
-bugprone-narrowing-conversions,\
-bugprone-suspicious-stringview-data-usage,\
modernize-*,\
-modernize-use-ranges,\
-modernize-use-trailing-return-type,\
-modernize-use-nodiscard,\
-modernize-pass-by-value,\
-modernize-avoid-c-arrays,\
-modernize-type-traits,\
-modernize-use-auto,\
-modernize-concat-nested-namespaces,\
-modernize-use-designated-initializers,\
-modernize-use-starts-ends-with,\
-modernize-use-integer-sign-comparison,\
-modernize-use-equals-delete,\
readability-*,\
-readability-use-std-min-max,\
-readability-else-after-return,\
-readability-suspicious-call-argument,\
-readability-magic-numbers,\
-readability-deleted-default,\
-readability-identifier-length,\
-readability-function-cognitive-complexity,\
-readability-implicit-bool-conversion,\
-readability-avoid-unconditional-preprocessor-if,\
-readability-avoid-return-with-void-value,\
-readability-redundant-casting,\
-readability-avoid-nested-conditional-operator,\
-readability-convert-member-functions-to-static,\
-readability-braces-around-statements,\
-readability-static-accessed-through-instance,\
-readability-uppercase-literal-suffix,\
-readability-math-missing-parentheses,\
misc-*,\
-misc-include-cleaner,\
-misc-use-anonymous-namespace,\
-misc-const-correctness,\
-misc-no-recursion,\
-misc-non-private-member-variables-in-classes,\
-misc-use-internal-linkage,\
"
#WarningsAsErrors: "*"
UseColor: true  # Enable colored output
...
